build/
install/
log/
*.pyc
__pycache__/
.env
*.swp
.vscode/
.idea/

# node_modules from backend webapp
web_app/backend/node_modules/
refined_webapp_/backend/node_modules/

# polygons.txt local save only
web_app/backend/polygons.txt

# other repos inside here...
./src/em-data-distribution-cpp
./src/kd-dds-ros-gateway
./src/em_data_analyzer
./src/ros_otter_custom_interfaces
